.main {
    height: 100vh;
    padding-top: 10%;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    background-image: url("https://psv4.userapi.com/s/v1/d/XXuoSB649fmmH6BO9NNqtct9CYpKteXWtMJ8eWcQqPwLntZaxxchDaZ0t4G8w3TC_Gt0h73DiHfoGMZ6rBcBwSwWrtO_KCKuOCWMb_8FBe70-lZqi0ipwg/a_a.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.name{
    width: 100%;
    margin-left: 5%;
}
.name p {
    font-size: 4vw;
    font-weight: 300;
    font-family: 'Montserrat';
    color: rgba(255, 255, 255, 0.614);
}

.text {
    color: rgba(255, 255, 255, 0.73);
    width: 38%;
    margin-right: 2%;
}
.text h2{
    font-weight: 400;
    font-size: 2vw;
    font-family: "Montserrat";
}
.text h3 {
    font-size: 1.5vw;
    font-family: "Roboto", sans-serif;
    font-weight: 50;
}
@media (max-width: 576px) {
    .main{
        justify-content: center;
    }
    .name {
        padding-top: 15vh;
        margin-inline: 0;
        height: 0;
        text-align: center;
    }
    .text {
        width: 90%;
        margin-top: 20vw;
        text-align: center;
    }
    .text h2{
        font-size: 6vw;
    }
    .text h3 {
        font-size: 4vw;
    }
    .name p {
        font-size: 8vw;
        font-weight: 400;
    }
    
}

@media (min-width:576px) and (max-width:1024px) {
    .main{
        justify-content: center;
    }
    .name {
        margin-top: 5vw;
    }
    .text{
        width: 80%;
        text-align: center;
    }
    .name h1 {
        font-size: 5vw;
        text-align: center;
    }
    .text h2{
        font-size: 3vw;
        font-weight: 400;
    }
    .text h3 {
        font-size: 2vw;
        font-weight: 300;
    }
}